
<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <title>My CRUD in NodeJS</title>

</head>

<body>

    <h2>Dados<h2>

    <form action="/show" method="POST">

        <input type="text" placeholder="Nome" name="name"><br>

        <input type="text" placeholder="Email" name="Email"><br>

        <button type="submit">Submit</button>
        


    </form> 

    <h1>aeeeeeeeeeeee toma no cuuuuuuuuuu poooooorrrrrraaaa 1% concluídooooooo</h1>

</body>

</html>