
<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <title>My CRUD in NodeJS</title>

</head>

<body>

    <h2>Dados<h2>


    <h1>em construção caralho....espera porra</h1>

</body>

</html>